<!--main content start-->
<section class="wrapper site-min-height">
    <!-- page start-->              
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <!--progress bar start-->
            <section class="panel">
                <header class="panel-heading">
                    <a href="/members" class="btn btn-back btn-panel-nav"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    <span class="hidden-xs"><a href="/users">Users</a> / </span>New User
                </header>
                <div class="panel-body">     
                    <form id="user_form" name="user_form"> 
        <input ng-model="user_data.item_id" type="hidden" id="item_id" name="item_id" class="form-control" value="{{user_data.item_id}}"/>
	<input ng-model="att_token.item_id" type="hidden" id="att_id" name="att_id" class="form-control" value="{{att_token.item_id}}">
	<input ng-model="att_token.item_attachment" type="hidden" id="item_attachment" name="item_attachment" class="form-control" value="{{att_token.item_attachment}}">
            <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                     <label for="property_name">Property Name<span style="color:red">*</span></label>
                                <select name="property_name" id="property_name" class="select2 form-control"  ng-model="user_data.property_name" data-placeholder="select item type" data-value="" style="height:40px">
				    <option value="">Select item type</option>
				    <option value="abc">abc</option>
                                    <option value="pqr">pqr</option>
                                  <label for="property_name" class="form_errors" ng-show="user_form.property_name.$invalid && !property_name.$pristine">Please select property name</label>
                                  </select>
                   </div>
                </div>
           
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Name<span style="color:red">*</span></label>
                        <input ng-model="user_data.user_name" type="text" id="user_name" value="" name="user_name" class="form-control" value="" placeholder="e.g., abc"  style="height:40px">
                       </div>
                </div>
            </div> 
            <div class="row">
                 <div class="col-md-4">
                    <div class="form-group">
                        <label>Password<span style="color:red">*</span></label>
                        <input ng-model="user_data.password" type="text" id="password" value="" name="password" class="form-control" value="" placeholder="e.g., 123456"  style="height:40px">
                       </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label>Email<span style="color:red">*</span></label>
                        <input ng-model="user_data.email" type="text" id="email" value="" name="email" class="form-control" value="" placeholder="e.g., demo@gmail.com"  style="height:40px">
                       </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label>Phone Number<span style="color:red">*</span></label>
                        <input ng-model="user_data.phone_no" type="text" id="phone_no" value="" name="phone_no" class="form-control" value="" placeholder="e.g., 6523214563" style="height:40px">
                       </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                       <label for="user_role">Role<span style="color:red">*</span></label>
                                <select name="user_role" id="user_role" class="select2 form-control" ng-model="user_data.user_role" data-placeholder="select user role" data-value="" style="height:40px">
				    <option value="">Select item type</option>
				    <option value="role1">role1</option>
                                    <option value="role2">role2</option>
                                  <label for="user_role" class="form_errors" ng-show="user_role.item_type.$invalid && !user_role.$pristine">Please select user role</label>
                                  </select>
                         </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       <label for="user_status">Status<span style="color:red">*</span></label>
                                <select name="user_status" id="user_role" class="select2 form-control"  ng-model="user_data.user_status" data-placeholder="select staus" data-value="" style="height:40px">
				    <option value="">Select item type</option>
				    <option value="active">Active</option>
                                    <option value="pending">Pending</option>
                                    <option value="disabled">Disabled</option>
                                  <label for="user_status" class="form_errors" ng-show="user_status.item_type.$invalid && !user_status.$pristine">Please select status</label>
                                  </select>
                         </div>
                </div>
               
            </div> 
             
    </form>
                    <div ng-show="user_form.$invalid" class="alert alert-info text-left"><em>Please complete all the mandatory fields to submit this form.</em></div>
    <div ng-show="user_form.loading" class="alert alert-info text-left">Please wait...</div>
    <div ng-show="success_msg" class="alert alert-success text-left">{{sub_message}}</div>
    <div ng-show="danger_msg" class="alert alert-danger text-left">{{sub_message}}</div>        
    <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary pull-right" ng-disabled="user_form.$invalid" ng-click="addClient()" style="margin-right:3px;">Submit</button>
      </div>
                            </section>
                        </div>
                </div>
                <!-- page end-->
            </section>