<!--main content start-->
<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel">
                <div class="panel-heading pr">
                    All OTA Setup
                    <button class="btn btn-primary btn-xs mbr" style="margin-left: 10px;" ng-click="openOtaSetupModal()"> <i class="fa fa-plus"></i> New OTA </button>
                </div>
                <div class="panel-body">
                    <jqx-grid jqx-create="createWidget" jqx-settings="gridSettings"></jqx-grid>
                </div>
            </div>
            <div class="panel panel-primary" ng-show="ota_details != null">
                <div class="panel-heading" style="color:#255E83;">
                    <ul class="nav nav-tabs">
                        <li class="active" style="font-size: 16px; color:#fff; padding: 10px;">OTA Details</li>
                        <li class="dropdown pull-right" >
                            <button class="btn btn-sm btn-white dropdown-toggle" style="margin: 5px 10px 0px 0px; color:black;" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-click="editOtaSetupModal(ota_details)"><a>Edit</a></li>
                                <li class="divider"></li>
                                <li class="alert-danger"><a href="#" ng-click="deleteOta(ota_details.id)">Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
               <div class="panel-body" style="line-height: 1.74;">  
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xs-12">
                            <p> <strong>Name:</strong> {{ ota_details.name|ucwords}}</p>
                        </div>
                            <div class="col-md-3 col-lg-3 col-xs-12">
                           <p><strong>Registration Date:</strong><span class="record_date"> {{ ota_details.datetime }} </span><br /></p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-12">
                            <p><strong>Author:</strong><span class="record_author_name"> {{ ota_details.author_fname|ucwords}} {{ ota_details.author_lname|ucwords}}</span><br />
                         </div>
                            <div class="col-md-3 col-lg-3 col-xs-12">
                              <p> <strong>Status:</strong> 
                              <span class="active_status" ng-show="ota_details.status == 'active'">{{ ota_details.status|ucwords }}</span>
                              <span class="disabled_status" ng-show="ota_details.status == 'disabled'">{{ ota_details.status|ucwords }}</span>
                              </p>
                            </div>
                         <div class="col-md-12 col-lg-12 col-xs-12" ng-show="ota_details.domain_name != null">
                            <p> <strong>Domain Name:</strong> {{ ota_details.domain_name}}</p>
                         </div> 
                    </div> 
                </div>                          
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="color:#255E83;">
                        <ul class="nav nav-tabs">
                            <li class="active" style="font-size: 16px; color:#fff; padding: 10px;">System To API OTA Mappings</li>

                        </ul>
                    </div>
                    <div class="panel-body" style="line-height: 1.74;">
                        <div class="panel-heading pr1">
                            <ul>
                                <li>OTA Mappings</li>
                                <li ng-click="openOtaMappingModal()"><a class="btn btn-primary btn-xs mbr" style="margin-left: 10px;"><i class="fa fa-plus"></i> New Mapping </a></li>
                            </ul>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Type</th>
                                    <th>API OTA</th>
                                    <th>System OTA</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ota_map in ota_mapping">
                                    <td>{{$index+1}}</td>
                                    <td>{{ota_map.type|ucwords}}</td>
                                    <td>{{ota_map.client_ota_name|ucwords}}</td>
                                    <td>{{ota_map.system_name|ucwords}}</td>
                                    <td><button class="btn btn-info btn-xs" ng-click="editOtaMapModal(ota_map)"><i class="fa fa-edit"></i></button><button class="btn btn-danger btn-xs" ng-click="delete_otaMapping(ota_map.id)" style="margin-left:5px;"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- page end-->
<!------------------Add ota setup modal-------------------->
<script type="text/ng-template" id="ota_add.html">
<div class="modal-header">   
    <h4 class="modal-title">{{modal_heading}}</h4>
</div>
<div class="modal-body">
    <form id="ota_form" name="ota_form" novalidate> 
	<div class="row">
                <div class="col-md-12">
                   <div class="form-group">
                        <label>OTA Name<span style="color:red">*</span></label>
                        <input ng-model="ota_data.name" type="text" id="name" value="" name="name" class="form-control" value="" placeholder="e.g., Make My Trip" required>
                         <label for="name" class="form_errors" ng-show="ota_form.name.$invalid && !ota_form.name.$pristine">Please enter only characters</label>
                    </div>
                </div>
            </div> 
	   <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="status">OTA Status<span style="color:red">*</span></label>
                        <ui-select ng-model="ota_data.status" name="status" id="qm_select" theme="bootstrap" reset-search-input="false" style="width: 100%;" title="Select a area impact" required>
                           <ui-select-match placeholder="Enter keywords...">{{$select.selected.name}}</ui-select-match>
                           <ui-select-choices repeat="st.name as st in status track by $index"
                           refresh="searchStatus($select.search)"
                           refresh-delay="0">
                           <div ng-bind-html="st.name | highlight: $select.search"></div>
                           </ui-select-choices>
                           </ui-select>
                         <label for="status" class="form_errors" ng-show="hotel_chain_form.status.$invalid && !status.$pristine">Please select item type</label>
                         
                         </div>
                </div>
            </div> 
	   
    </form>
</div>
<div class="modal-footer">

    <div ng-show="ota_form.$invalid" class="alert alert-info text-left"><em>Please complete all the mandatory fields to submit this form.</em></div>
    <div ng-show="ota_form.loading" class="alert alert-info text-left">Please wait...</div>
    <div ng-show="success_msg" class="alert alert-success text-left">{{sub_message}}</div>
    <div ng-show="danger_msg" class="alert alert-danger text-left">{{sub_message}}</div>                    
    <button type="button" class="btn btn-primary" ng-disabled="ota_form.$invalid" ng-click="addOta(ota_form.$valid)" style="margin-right:3px;">Submit</button>
    <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">Cancel</button>
</div>

</script>


<!------------------add ota mappings modal-------------------->
<script type="text/ng-template" id="ota_mapping.html">
<div class="modal-header">   
    <h4 class="modal-title">{{modal_heading}}</h4>
</div>
<div class="modal-body">
    <form id="ota_mapping" name="ota_mapping" novalidate>
                   <div class="form-group">
                        <label>For<span style="color:red">*</span></label>
                        <ui-select ng-model="ota_detail.type" name="type" theme="bootstrap" id="qm_select" on-select="selectfor($item)" reset-search-input="false" style="width: 100%;" title="Select a area impact" required>
                        <ui-select-match placeholder="Enter keywords...">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="type.name as type in types track by $index"
                        refresh="searchType($select.search)"
                        refresh-delay="0">
                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group" ng-if="ota_detail.type == 'STAAH' || ota_detail.type == 'staah'">
                       <label for="status">{{for_label}} OTA<span style="color:red">*</span></label>
                            <input ng-model="ota_detail.client_ota" type="text" id="client_ota" name="client_ota" class="form-control" placeholder="e.g., MMT" required>
                    </div>
                    <div class="form-group" ng-if="ota_detail.type == 'Rateshopping' || ota_detail.type == 'rateshopping'">
                        <label for="rs_ota">Rateshopping OTA<span style="color:red">*</span></label>
                        <ui-select ng-model="ota_detail.client_ota" name="ota_id" theme="bootstrap" id="qm_select" reset-search-input="false" style="width: 100%;" title="Select a rate shopping OTA">
                            <ui-select-match placeholder="Enter keywords...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="source.id as source in sources track by $index">
                                <div ng-bind-html="source.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div>
                       <label for="status">System OTA<span style="color:red">*</span></label>
                        <ui-select ng-model="ota_detail.ota_id" name="ota_id" theme="bootstrap" id="qm_select" reset-search-input="false" style="width: 100%;" title="Select a system OTA">
                        <ui-select-match placeholder="Enter keywords...">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="ota_detail.id as ota_detail in ota_details track by $index">
                        <div ng-bind-html="ota_detail.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        </ui-select>
                    </div>
   </form>
</div>
<div class="modal-footer">

    <div ng-show="ota_mapping.$invalid" class="alert alert-info text-left"><em>Please complete all the mandatory fields to submit this form.</em></div>
    <div ng-show="ota_mapping.loading" class="alert alert-info text-left">Please wait...</div>
    <div ng-show="success_msg" class="alert alert-success text-left">{{sub_message}}</div>
    <div ng-show="danger_msg" class="alert alert-danger text-left">{{sub_message}}</div>                    
    <button type="button" class="btn btn-primary" ng-disabled="ota_mapping.$invalid" ng-click="addOtaMapping()" style="margin-right:3px;">Submit</button>
    <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">Cancel</button>
</div>
</script>

</section>