<!--main content start-->
<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel">
                <div class="panel-heading pr">
                    All Seasonality
                    <!--<a  href="/members/new" class="btn btn-primary btn-xs mbr" style="margin-left: 10px;"> <i class="fa fa-plus"></i> New Member </a>-->
                </div>
                <div class="panel-body">
                    <!--<jqx-grid jqx-create="createWidget" jqx-settings="gridSettings"></jqx-grid>-->
                </div>
            </div>
          
    </div>
</div>
<!-- page end-->
</section>