
<form id="ota_form" name="ota_form" ng-submit="clientOtaMappingAdd(ota_form.$valid)" novalidate> 
<div class="modal-header">   
    <h4 class="modal-title">{{modal_heading}}</h4>
</div>
<div class="modal-body">
        <div class="form-group" ng-if="client_id == 'new' && modal_type == 'new'">
            <label for="status">Hotel<span style="color:red">*</span></label>
            <ui-select ng-model="hotelx" id="otamapping_hotel" name="otamapping_hotel" theme="bootstrap" reset-search-input="true" style="width: 100%;" title="Select a hotel" required on-select="selectH($select.selected)">
                <ui-select-match placeholder="Enter keywords...">
                    <p>{{$select.selected.name}}</p>
                </ui-select-match>
                <ui-select-choices repeat="hotel in hotels track by $index">
                    <div ng-bind-html="hotel.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Client OTA<span style="color:red">*</span></label>
                    <input ng-model="ota_data.client_ota" type="text" id="client_ota" name="client_ota" class="form-control" placeholder="e.g., Goibibo.com" required>
                    <label for="client_ota" class="form_errors" ng-show="ota_form.client_ota.$invalid && !ota_form.client_ota.$pristine">Please enter an OTA name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">System OTA<span style="color:red">*</span></label>
                    <ui-select ng-model="ota_data.ota_id" name="ota_name" theme="bootstrap" id="qm_select" reset-search-input="false" style="width: 100%;" on-select="selectOTA($select.selected)" title="Select a system OTA" required>
                        <ui-select-match placeholder="Enter keywords...">
                            <p>{{$select.selected.name}}</p>
                        </ui-select-match>
                        <ui-select-choices repeat="ota.id as ota in ota_name_data track by $index"
                                           refresh="searchSystemOtaName($select.search)"
                                           refresh-delay="3">
                            <div ng-bind-html="ota.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">Type<span style="color:red">*</span></label>
                    <ui-select ng-model="ota_data.type" name="type_name" theme="bootstrap" id="qm_select" reset-search-input="false" style="width: 100%;" title="Select a type" required>
                        <ui-select-match placeholder="Enter keywords...">
                            <p>{{$select.selected.name}}</p>
                        </ui-select-match>
                        <ui-select-choices repeat="type.name as type in types track by $index"
                                           refresh="searchType($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">

    <div ng-show="ota_form.$invalid" class="alert alert-info text-left"><em>Please complete all the mandatory fields to submit this form.</em></div>
    <div ng-show="loading_msg" class="alert alert-info text-left">Please wait...</div>
    <div ng-show="success_msg" class="alert alert-success text-left">{{sub_message}}</div>
    <div ng-show="danger_msg" class="alert alert-danger text-left">{{sub_message}}</div>                    
    <button type="submit" class="btn btn-primary" ng-disabled="ota_form.$invalid" style="margin-right:3px;">Submit</button>
    <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">Cancel</button>
</div>
    </form>
